:root {
  --link-active: #f38181;
  --link-noactive: #95e1d3;
  --line-color: #f38181;
  --logo-color: #95e1d3;
  --primary-title: #333;
  --primary-text: #b6b6b6;
  --btn-color-text: #fff;
  --primary-btn-background-color: #95e1d3;
  --copyright-color: #f38181;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Kaushan Script", sans-serif;
}

/* main settings */

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

a,
p,
ul,
li,
h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: var(--primary-btn-background-color);
  border-width: 0;
  padding: 11px 40px;
}

button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  font-variant: all-small-caps;
  text-align: center;
  color: var(--btn-color-text);
}

/* header settings */

.header {
  display: flex;
  padding-top: 17px;
  padding-bottom: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: var(--logo-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 55px;
}

.header-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--link-noactive);
}

.header-link:hover {
  color: var(--link-active);
  border-bottom: 3px solid var(--link-active);
}

/* service settings */

.service {
  padding-bottom: 100px;
  padding-top: 68px;
}

.service-desc {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--primary-title);
  text-align: center;
  margin-bottom: 20px;
}

.service-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: var(--primary-title);
  padding-bottom: 40px;
  text-align: center;
}

.service-title::after {
  display: inline-block;
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--line-color);
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  padding: 0;
  margin: 0;
}

.service-item{
  flex: 1 1 calc((100% - 140px)/3);
}

.service-article {
  display: flex;
  align-items: center;
  gap: 18px;
}

.service-div {
  display: flex;
  flex-direction: column;
}

.service-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-title);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--primary-text);
}


.service-icon {
  width: 37px;
  height: 37px;
  fill: #95E1D3;
  margin-bottom: 35px;
  flex-shrink: 0;
}

.item-wrap{
  position: relative;
  overflow: hidden;
}

.item-wrap:hover .item-overlay, .item-wrap:focus .item-overlay{
  transform: translateX(0);
}

.item-overlay{
  position: absolute;
  background: linear-gradient(90deg,rgba(191, 237, 255, 0.75) 0%, rgba(163, 255, 197, 0.75) 50%, rgba(240, 232, 163, 0.75) 94%);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 150ms ease;
}

/* team settings */

.team{
  padding-bottom: 80px;
}

.team-desc {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--primary-title);
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}

.team-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: var(--primary-title);
  padding-bottom: 40px;
  text-align: center;
}

.team-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--primary-text);
  margin-bottom: 17px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  font-variant: all-small-caps;
  text-align: center;
  color: var(--primary-title);
  margin-top: 30px;
  margin-bottom: 11px;
}

.item-text {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: var(--primary-text);
}

.team-title::after {
  display: inline-block;
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--line-color);
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

/* footer settings */

.footer {
  border-top: 1px solid var(--primary-text);
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--primary-title);
  text-align: left;
}

.footer-copyright-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--copyright-color);
}

.footer-form-email::placeholder {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: var(--primary-text);
  text-align: left;
}

.footer-form {
  color: var(--primary-text);
  display: flex;
  margin-bottom: 10px;
}
