:root {
  --link-active: #f38181;
  --link-noactive: #95e1d3;
  --line-color: #f38181;
  --logo-color: #95e1d3;
  --primary-title: #333;
  --primary-text: #b6b6b6;
  --btn-color-text: #fff;
  --primary-btn-background-color: #95e1d3;
  --copyright-color: #f38181;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Kaushan Script", sans-serif;
}

/* main settings */

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

a,
p,
ul,
li,
h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: var(--primary-btn-background-color);
  border-width: 0;
  padding: 11px 40px;
}

button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  font-variant: all-small-caps;
  text-align: center;
  color: var(--btn-color-text);
}

/* header settings */

.header {
  display: flex;
  padding-top: 17px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: var(--logo-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 55px;
  margin-left: 632px;
}

.header-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--link-noactive);
}

.header-item-link:hover {
  color: var(--link-active);
  border-bottom: 3px solid var(--link-active);
}

/* service settings */

.service {
  padding-bottom: 100px;
  padding-top: 68px;
}

.service-desc {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--primary-title);
  text-align: center;
  margin-bottom: 20px;
}

.service-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: var(--primary-title);
  padding-bottom: 40px;
  text-align: center;
}

.service-title::after {
  display: inline-block;
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--line-color);
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  flex-basis: calc((100% - 100px) / 2);
}

.service-list-article {
  display: flex;
  align-items: center;
  gap: 18px;
}

.service-div {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 70px) / 3);
}

.service-item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-title);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service-item-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--primary-text);
  width: 400px;
}


.service-item-image {
  margin-bottom: 40px;
  display: inline-block;
}

/* team settings */

.team-desc {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--primary-title);
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}

.team-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  font-variant: all-small-caps;
  color: var(--primary-title);
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

.team-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--primary-text);
  margin-bottom: 17px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  font-variant: all-small-caps;
  text-align: center;
  color: var(--primary-title);
  margin-top: 30px;
  margin-bottom: 11px;
}

.team-item-text {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: var(--primary-text);
  margin-bottom: 80px;
}

.team-title::after {
  display: inline-block;
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--line-color);
  display: flex;

  margin-top: 40px;
}

/* footer settings */

.footer {
  border-top: 1px solid var(--primary-text);
  width: 1200px;
  margin: 0 auto;
}

.footer-copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--primary-title);
  text-align: left;
  margin-top: 22px;
  margin-bottom: 20px;
}

.footer-copyright-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--copyright-color);
}

.footer-form-email::placeholder {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: var(--primary-text);
  text-align: left;
}

.footer-form {
  color: var(--primary-text);
  display: flex;
  margin-bottom: 10px;
}
